<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="/main_page.css" rel="stylesheet">
</head>
<body>
  <article class="main_window">
    <h2> Sign Up </h2>
    <article>
        <form action="" method="POST">
            <p>
                <label for="username"></label>
                <input class="words_input" type="text" placeholder="login" name="username" id="username">
            </p>
            <p>
                <label for="password_1"></label>
                <input class="words_input" type="password" placeholder="password" name="password_1" id="password_1">
            </p>
            <p>
                <label for="password_2"></label>
                <input class="words_input" type="password" placeholder="Confirm password" name="password_2" id="password_2">
            </p>
            <p>
                <input class="button" type="submit">
            </p>
        </form>
    </article>
    <article>
        <form action="/" align="left">
            <input class="back_button" type="submit" value="<-#">
        </form>
    </article>
  </article>
</body>
</html>